body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    /* Configuración de la imagen de fondo */
    background-image: url('Fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mensaje-bienvenida h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(245, 239, 239, 0.15);
    text-align: center;
}